.gradle
.idea
.vscode
.project
.classpath
.settings

bin
build
node_modules

epilink.db

.DS_Store
app.bundle.js
*.db
bot/config/epilink_config_real.yaml
bot/config/epilink.rule.kts
out/

config/*
!config/.gitkeep