#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
# Linux scripts that need to stay LF (or else Docker complains on Windows)
*.sh            text eol=lf
gradlew         text eol=lf
