.gradle
.vscode
.project
.classpath
.settings

bin
build
node_modules

epilink.db
*.db-*

.DS_Store
app.bundle.js
*.db
**/config/epilink_config_real.yaml
**/config/epilink.rule.kts
**/config/*.pdf
**/config/*.svg
out/

config/*
!config/.gitkeep

# IDEA configs that should be kept
.idea/*
# Code style configuration
!.idea/codeStyles/
# Inspection profiles
!.idea/inspectionProfiles/
# Run configurations
!.idea/runConfigurations/

# Cached rulebooks
*__cached