# Code owners file

# General Gradle build files are owned by @utybo
*.gradle            @utybo
gradle.properties   @utybo
gradle*             @utybo

# Back-end is owned by @utybo
/epilink-backend/               @utybo
# Front-end is owned by @Litarvan
/epilink-frontend/               @Litarvan