@import 'fonts';

html, body {
  margin: 0;
  padding: 0;
}

body {
  @include lato;

  min-width: 100vw;
  min-height: 100vh;

  background: #202427;

  display: inline-block;

  color: white;
}

a {
  transition: color 225ms ease;

  &, &:visited {
    color: black;
    text-decoration: none;
  }

  &:hover {
    color: #444;
  }
}
