@import 'fonts';

html, body {
  margin: 0;
  padding: 0;
}

body {
  @include lato;

  min-width: 100vw;
  min-height: 100vh;

  display: inline-block;

  color: white;

  animation: bg-fade 0.25s ease 1 both;

  overflow-y: hidden;
}

a {
  transition: color 225ms;

  &, &:visited {
    color: black;
    text-decoration: none;
  }

  &:hover {
    color: #444;
  }
}

@keyframes bg-fade {
  0% {
    background-color: white;
  }

  100% {
    background-color: #202427;
  }
}